<ul class="nav nav-tabs nav-justified pokemon-nav">
    <li class="nav-item">
        <a class="nav-link" routerLink="/home">
            <img src="./assets/inicio_icono.png" alt="Inicio" class="nav-icon"> Inicio
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/pokemon">
            <img src="./assets/pokemon_icono.png" alt="Pokémon" class="nav-icon"> Pokémon
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/tipo">
            <img src="./assets/tipos_icono.png" alt="Tipos" class="nav-icon"> Tipos
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/about">
            <img src="./assets/psyduck.png" alt="Tipos" class="nav-icon"> Acerca de...
        </a>
    </li>
</ul>

  