<div class="container pokemon-container">
    <h1 class="pokemon-title">Acerca de</h1>
    <div class="creators">
        <h2 class="pokemon-subtitle">Desarrolladores:</h2>
        <ul class="pokemon-list">
            <li><img src="./assets/entrenador.png" alt="Imagen 1"> Uriel Gómez Becerril</li>
            <li><img src="./assets/entrenador.png" alt="Imagen 2"> Diana Paola Hernández Velázquez</li>
            <li><img src="./assets/entrenador.png" alt="Imagen 3"> Oscar Gabriel Reséndiz Ramírez</li>
        </ul>
    </div>
    
    <div class="additional-info">
        <p class="pokemon-info">Esta página fue creada como proyecto final para la materia de Desarrollo y Gestión de Software Multiplataforma, impartida en la Universidad Tecnologica de San Juan del Río. Los estudiantes actualmente se encuentran en el 8vo cuatrimestre de la carrera de Ingeniería en Desarrollo y Gestión de Software Multiplataforma.</p>
        <p class="pokemon-info">El objetivo principal del proyecto fue aplicar los conocimientos adquiridos durante el curso, incluyendo el desarrollo de aplicaciones web utilizando tecnologías como Angular para el desarrollo de la misma.</p>
        <p class="pokemon-info">Nos inspiramos en el fascinante mundo de Pokémon para crear una Pokédex virtual, una herramienta que permite a los entrenadores Pokémon explorar información detallada sobre diferentes especies de Pokémon, incluyendo sus características, habilidades y más.</p>
        <p class="pokemon-info">A lo largo del desarrollo del proyecto, nos esforzamos por crear una experiencia interactiva y atractiva para los usuarios, manteniendo siempre el espíritu y la esencia de la franquicia Pokémon.</p>
    </div>
</div>

