<div class="container">
    <header>
        <img src="./assets/pokebola.png" alt="Pokémon Logo" class="logo">
    </header>
    <main>
        <h1>Bienvenido a la Pokédex</h1>
        <p>¡Bienvenido, Entrenador Pokémon! En este emocionante proyecto, nos embarcamos en la creación de una Pokédex virtual, una herramienta indispensable para cualquier aspirante a Maestro Pokémon.</p>
        <p>La Pokédex es una enciclopedia electrónica que contiene información detallada sobre las diferentes especies de Pokémon que habitan en el mundo. Desde su número en la Pokédex hasta sus características, habilidades, evoluciones y hábitats, la Pokédex proporciona a los entrenadores Pokémon datos esenciales para comprender y capturar estas criaturas.</p>
        <p>Nuestro objetivo es crear una Pokédex interactiva y fácil de usar, que permita a los usuarios explorar y aprender sobre la amplia variedad de Pokémon que existen. Con una interfaz intuitiva y rica en contenido, nuestra Pokédex busca ser la compañera perfecta para cualquier entrenador en su viaje para convertirse en un verdadero Maestro Pokémon.</p>
        <p>¡Únete a nosotros en esta emocionante aventura para descubrir y capturar a todos los Pokémon que el mundo tiene para ofrecer!</p>
        <a routerLink="/pokemon" class="btn-start">¡Explorar la Pokédex!</a>
    </main>
</div>
